* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 2rem;
}

.container {
  /* height: 100dvh; */
  flex-direction: column;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1.6rem;
}

.todoList ul {
  margin: 0;
  padding: 0;
}

.todoList li {
  list-style: none;
  background-color: #e1e1e1;
  padding: 0.5rem 1rem;
  margin-block: 0.8rem;
}

button {
  padding: 0.8rem 1rem;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: red;
  color: white;
}
