* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00040f;
}

.container {
  color: azure;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  line-height: 5rem;
  font-size: 2rem;
}
